<!DOCTYPE html>
<html>

<head>
<title>BBC AUDIO</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>            
</head>
<header>BBC AUDIO</header>
                        <style> 
			body { 
			      background-image: url("./url.jpg");
                       	      background-size: 1500px 800px;
                              background-repeat: no-repeat;
				}	

                        header{
                               background-color:#00FF00;
                               color:red;
                               font-size:45px;
                               text-align:center;
                               opacity:0.75;
                               }
                        #container{
                                  background-color:#0066cc;
                                  width:25%;
                                  height:570px;
                                  opacity:0.75;
                                  }
                         li{
                            color:black;
                            font-size:18px;
                            }
                            img{
                                 width:200px;
                                 height:200px;
                                 }
                         
			</style> 
<body>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

       <a class="navbar-brand" href="content">Audio library </a>                                      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

       
     
       <a class="navbar-brand" href="/">Refresh</a>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
     

    </div><!-- /.navbar-collapse -->
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->

</nav>

    <div container="class theme-showcase" role="main">
{{{body}}}
  </div>

</body>
