<!DOCTYPE html>
<html>
<header></header>
<head>
	<title>BBC AUDIO</title>
</head>
<style>  
                       
                        #pretty{
                                 width:500px;
                                 height:430px;
                                 background-color: blue;
                                 margin-left:auto ;
                                 margin-right: auto ;
                                 font-color:black;
                                 }
                         
</style>
<body>
<div id="pretty">

<table class="table">
{{#each list}}
	<tr>
		<td><input type="checkbox" name="option1" value="Audio1"></td>
		<td><p>{{this}}</p></td>
	</tr>
{{/each}}

</table>
<form name="myform" action="/add" method="POST">
<button>Submit</button>
</form>
</div>	

</body>
</html>
