<!DOCTYPE html>
<html>
<header></header>
<head>
	<title>BBC AUDIO</title>
</head>
<style>  
                       
                        #pretty{
                                 width:500px;
                                 height:430px;
                                 background-color: blue;
                                 margin-left:auto ;
                                 margin-right: auto ;
                                 font-color:black;
                                 }
                         
</style>
<body>
<div id="pretty">

<table class="table">
	<tr>
		<td><input type="checkbox" name="option1" value="Audio1"></td>
		<td><p>Bucie:Easy to love.mp3</p></td>
	</tr>
        <tr>
		<td><input type="checkbox" name="option2" value="Audio2"></td>
		<td><p>Dj Merlon: Kuze kuse.mp3</p></td>
	</tr>
        <tr>
		<td><input type="checkbox" name="option3" value="Audio3"></td>
		<td><p>Naak musiq: Hamba kude.mp3</p></td>
	</tr>
        <tr>
		<td><input type="checkbox" name="option4" value="Audio4"></td>
		<td><p>Naima Kay: Elilanga lelam.mp3</p></td>
	</tr>
        <tr>
		<td><input type="checkbox" name="option5" value="Audio5"></td>
		<td><p>Mono T: Bayeza.mp3</p></td>
	</tr>
        <tr>
		<td><input type="checkbox" name="option6" value="Audio6"></td>
		<td><p>The Soil: Asante.mp3</p></td>
	</tr>
        <tr>
		<td><input type="checkbox" name="option7" value="Audio7"></td>
		<td><p>Uhuru: Chilolo.mp3</p></td>
	</tr>
        <tr>
		<td><input type="checkbox" name="option8" value="Audio8"></td>
		<td><p>Dj Fisherman: No stress.mp3</p></td>
	</tr>

</table>
<form name="myform" action="/add" method="POST">
<button>Submit</button>
</form>
</div>	

</body>
</html>
